*{
    background-color: #afefc0;
}
body{
    margin-top:1.2rem;
}
.tictac{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
.tictac>.box{
    flex: 1 1 40%;  
    height: 100px;
}
.title{
    align-items: flex-start;
    display: flex;
    justify-content: center;
    margin-bottom: 6rem;
    text-align: center;

    
}
.turn{
    padding:0.2rem;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;  
     border: 2px solid rgb(95 97 110);
  border-radius: 0.5em;
  width: 8em;
}
.box{
    padding: 2rem;
    margin-top:0.2rem;
    margin-left:0.2rem;
    border:3px solid white;
    border-radius:0.4rem;
    cursor: pointer;
    background-color:#f18197;
}
.box:hover{
    color: white;
}
