*{
    background-color: #afefc0;
}
body{
    margin-top:1.2rem;
}
.tictac{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
.tictac>.box{
    flex: 1 1 40%;  
    height: 100px;
}
.title{
    text-align: center;   
    display: flex;
    align-items: center;
    justify-content: center;
}
.turn{
    padding:0.2rem;
    text-align: center;  
  display: flex;
  justify-content: center;
}
.counter-turn{
    border: 2px solid rgb(95 97 110);
    border-radius: 0.5em;
    padding: 0.5rem;
  
}

.box{
    cursor: pointer;
    background-color:#f18197;
}


.box:hover{
    color: white;
}

.tictac{
    display: grid;
    margin-top: 1rem;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    grid-gap:8px;

}
/* frame this into a 3 layer and fix the color*/
.tictac > button{
    padding:10px;
    border-radius: 5px;
    display: grid;
    place-items: center;
    border:1px solid black;
}
button{
    border:1px solid black ;

}
.box:hover{
    transform: scale(1.1);
}
.box{
     transition: all 0.3s;
}